.menu {
    background-color: #ff6166;
    height: 38px;
    width: 138.06px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    border-color: #ff6166;
    border-radius: 4px;
}
.hah {
    height: 100%;
    width: 70%;
    background-color: black;
}
* {
    margin: 0;
}
.NavTop{
    height: 23%;
    width: 100%;
    background-color: #6c2799;
    border-bottom: 1px solid #844ca8;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.NavMid{
    height: 42%;
    width: 100%;
    background-color: #6c2799;
    border-bottom: 1px solid #8d5aad;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.midright{
    left: 24px;
  display: flex;
  align-items: center;  
  position: relative;
}
.midleft{
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    align-items: center;
    justify-content: space-evenly;

}
.NavBot{
    height: 35%;
    width: 100%;
    background-color: #923bc7;

}
.NavBody{
height: 157px;
width: 100%;
border: 1px solid black;
position: sticky;
top: 0;

}

.NavCont{
    height: 2000px;
    width: 100%;
}

.tavtaimoril{
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
.tavtaimoril2{
    height: 25px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 12px;
}
.botright{
    height:100%;
    width: 600px;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-left: 30px;
}
.icons{
    height: 15px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
}